@page "{search?}"
@model CityApp.Web.Pages.Info.NewsPageModel

@{
    ViewData["Title"] = "News";
}

<h1>
    Welcome to the news section
</h1>

@if (!string.IsNullOrEmpty(Model.InfoText))
{
    <p class="text-success font-weight-bold text-xl-left">
        @Model.InfoText
    </p>
}

<div class="col-12 mb-3 mt-3">
    <form method="get">
        <div class="input-group mb-3">
            <input asp-for="Query"
                   class="form-control"
                   placeholder="Enter search term to search through news"
                   type="text">
            <button class="btn btn-outline-secondary"
                    id="button-addon2"
                    type="submit">
                Search <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>

@if (Model.NewsList.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Short information</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var searchModel in Model.NewsList)
        {
            <tr>
                <td>
                    @searchModel.Title
                </td>
                <td>
                    @searchModel.ShortDescription
                </td>
                <td>
                    <a asp-page="Details"
                       asp-route-newsId="@searchModel.NewsId">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="Devices Count">
        <ul class="pagination">
            @if (Model.NewsList.HasPreviousPage)
            {
                <li class="page-item">
                    <a asp-page="/Info/News"
                       asp-route-pageIndex="@(Model.NewsList.PageIndex - 1)"
                       class="page-link">
                        Previous
                    </a>
                </li>
            }
            @if (Model.NewsList.HasNextPage)
            {
                <li class="page-item">
                    <a asp-page="/Info/News"
                       asp-route-pageIndex="@(Model.NewsList.PageIndex + 1)"
                       class="page-link">
                        Next
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p class="text-info">No news found! Check query.</p>
}