@page
@model CityApp.Web.Pages.Account.ProfilePageModel

@{
    var userFullName = Model.CurrentUser.FullName;
    ViewData["Title"] = $"Profile {userFullName}";
}

<h1>All about @userFullName</h1>

<div class="row">
    <div class="col-md-12 mb-3">
        <form method="post">
            <div class="form-group">
                <label asp-for="CurrentUser.FullName">Full name</label>
                <input asp-for="CurrentUser.FullName"
                       class="form-control"
                       required=""
                       type="text" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Email">Email address</label>
                <input asp-for="CurrentUser.Email"
                       class="form-control"
                       required=""
                       type="email" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Password">Password</label>
                <input asp-for="CurrentUser.Password"
                       class="form-control"
                       required=""
                       type="password" />
            </div>
            <button class="btn btn-primary"
                    type="submit">
                Update
            </button>
        </form>
    </div>
    <div class="col-md-12 mb-3">
        @if (Model.CurrentUser.Subscriptions.Any())
        {
            <h2> Subscriptions to news</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Short information</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var currentNews in Model.CurrentUser.Subscriptions)
                {
                    <tr>
                        <td>
                            @currentNews.Title
                        </td>
                        <td>
                            @currentNews.ShortDescription
                        </td>
                        <td>
                            <a asp-page="Details"
                               asp-route-newsId="@currentNews.NewsId">
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-12 mb-3">
        @if (Model.CurrentUser.ElectricityMeasurement.Any())
        {
            <h2>Measurements</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Low watts</th>
                    <th scope="col">High watts</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var electricityMeasurement in Model.CurrentUser.ElectricityMeasurement)
                {
                    <tr>
                        <td>
                            @electricityMeasurement.LowWatts
                        </td>
                        <td>
                            @electricityMeasurement.HightWatts
                        </td>
                        <td>
                            @electricityMeasurement.Electricity?.Place
                        </td>
                        <td>
                            @electricityMeasurement.EntryDate
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>