@page
@model CityApp.Web.Pages.Account.ProfilePageModel

@{
    var userFullName = Model.CurrentUser.FullName;
    ViewData["Title"] = $"Profile {userFullName}";
}

@if (!string.IsNullOrEmpty(Model.InfoText))
{
    <p class="text-success font-weight-bold text-xl-left">
        @Model.InfoText
    </p>
}

<h1>All about @userFullName</h1>

<div class="row">
    <div class="col-md-12 mb-3">
        <form method="post">
            <div class="form-group">
                <label asp-for="CurrentUser.FullName">Full name</label>
                <input asp-for="CurrentUser.FullName"
                       class="form-control"
                       required=""
                       type="text" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Email">Email address</label>
                <input asp-for="CurrentUser.Email"
                       class="form-control"
                       required=""
                       type="email" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentUser.Password">Password</label>
                <input asp-for="CurrentUser.Password"
                       class="form-control"
                       required=""
                       type="password" />
            </div>
            <button class="btn btn-primary"
                    type="submit">
                Update
            </button>
        </form>
    </div>
    <div class="col-md-12 mb-3">
        @if (Model.CurrentUser.Subscriptions.Any())
        {
            <table class="table table-hover">
                <caption>Subscription to news for user @userFullName</caption>
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Short information</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var currentNews in Model.CurrentUser.Subscriptions)
                {
                    <tr>
                        <td>
                            <a asp-page="/Info/Details"
                               asp-route-newsId="@currentNews.NewsId">
                                @currentNews.Title
                            </a>
                        </td>
                        <td>
                            @currentNews.ShortDescription
                        </td>
                        <td>
                            <form asp-page-handler="RemoveSubscription"
                                  class="mr-2"
                                  method="post">
                                <input name="newsId"
                                       type="hidden"
                                       value="@currentNews.NewsId" />
                                <button class="bg-transparent border-0 shadow-none"
                                        type="submit">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-12 mb-3">
        @if (Model.CurrentUser.ElectricityMeasurement.Any())
        {
            <table class="table table-hover">
                <caption>Top 20 electricity data for @userFullName</caption>
                <thead>
                <tr>
                    <th scope="col">Low watts</th>
                    <th scope="col">High watts</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var electricityMeasurement in Model.CurrentUser.ElectricityMeasurement)
                {
                    <tr>
                        <td>
                            @electricityMeasurement.LowWatts
                        </td>
                        <td>
                            @electricityMeasurement.HighWats
                        </td>
                        <td>
                            @electricityMeasurement.Electricity?.Place
                        </td>
                        <td>
                            @electricityMeasurement.EntryDate
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <a asp-page="/Account/Electricity"
                           class="mr-1 text-right">
                            Check electricity data <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        }
    </div>
</div>